<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://192.168.19.168:3306/appo?useUnicode=true&amp;characterEncoding=utf8"/>
                <property name="username" value="dev"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/meeting/appo/dao/getStatusMapper.xml"/>
<!--        mapper配置文件一般不止一个,所有的*mapper.xml都需要注册后才能使用-->
<!--        <mapper resource="com/meeting/appo/dao/getStatusMapper.xml"/>-->
<!--        <mapper resource="com/meeting/appo/dao/getStatusMapper.xml"/>-->
<!--        <mapper resource="com/meeting/appo/dao/getStatusMapper.xml"/>-->
<!--        <mapper resource="com/meeting/appo/dao/getStatusMapper.xml"/>-->
<!--        <mapper resource="com/meeting/appo/dao/getStatusMapper.xml"/>-->
    </mappers>
</configuration>