<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://192.168.111.59:3306/appo?useUnicode=true&amp;characterEncoding=utf8&amp;serverTimezone=GMT%2B8"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--负责打杂-->
        <mapper resource="com/meeting/appo/dao/getStatusMapper.xml"/>

        <!--负责room的增删改查-->
        <mapper resource="com/meeting/appo/dao/roomCrudMapper.xml"/>

        <!--负责status的增删改查-->
        <mapper resource="com/meeting/appo/dao/userCrudMapper.xml"/>

    </mappers>
</configuration>