<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meeting.appo.dao.EventStatusDao">


    <select id="getStatusList" resultMap="status_and_user">
        SELECT
            a.sid,
            a.create_date create_date,
            a.start_date start_date,
            a.end_date end_date,
            a.participants participants,
            a.meeting_theme meeting_theme,
            a.status status,
            a.rid rid,
            b.username username,
            b.mobile mobile,
            b.deptId deptId,
            c.rserial rserial
        FROM tb_status a , tb_users b ,tb_rooms c
        <where>
            a.uid=b.uid
            and a.status=1
            and a.rid=c.rid
            and DATE(a.start_date)=#{day}
            <if test="rid != null">
                and c.rid = #{rid}
            </if>
        </where>
        ORDER BY a.create_date
    </select>
    <resultMap id="status_and_user" type="com.meeting.appo.entities.Status">
        <result property="sid" column="sid" />
        <result property="create_date" column="create_date" />
        <result property="start_date" column="start_date" />
        <result property="end_date" column="end_date" />
        <result property="participants" column="participants" />
        <result property="meeting_theme" column="meeting_theme" />
        <result property="uid" column="uid" />
        <result property="rid" column="rid" />
        <result property="status" column="status" />
        <association property="user" javaType="com.meeting.appo.entities.User">
            <result property="uid" column="uid"/>
            <result property="username" column="username"/>
            <result property="mobile" column="mobile"/>
            <result property="deptId" column="deptId"/>
        </association>
        <association property="room" javaType="com.meeting.appo.entities.Room">
            <result property="rserial" column="rserial"/>
            <result property="rid" column="rid"/>
        </association>
    </resultMap>

    <select id="getRooms" resultType="com.meeting.appo.entities.Room">
        select * from appo.tb_rooms
    </select>

    <select id="getUserByUsername" resultMap="getUserByUsername">
        SELECT
        a.uid uid,
        a.username username,
        a.mobile mobile,
        b.dept_name dept_name,
        b.did did
        FROM
        tb_users a LEFT JOIN
        tb_depts b ON a.deptId=b.did
        where a.pinyin_name=#{pinyin_name}
    </select>
    <resultMap id="getUserByUsername" type="com.meeting.appo.entities.User">
        <result property="uid" column="uid" />
        <result property="username" column="username" />
        <result property="mobile" column="mobile" />
        <association property="dept" javaType="com.meeting.appo.entities.Dept" column="deptId">
            <result property="did" column="did"/>
            <result property="dept_name" column="dept_name"/>
        </association>
    </resultMap>



    <select id="getAdminByUserId" resultType="string">
        select isAdmin from appo.tb_users where uid=#{id}
    </select>






    <select id="getStatusByUser" resultMap="status_profile">
        SELECT
        a.sid sid,
        a.create_date create_date,
        a.start_date start_date,
        a.end_date end_date,
        a.participants participants,
        a.meeting_theme meeting_theme,
        a.status status,
        c.rserial rserial
        FROM tb_status a ,tb_rooms c
        <where>
            a.rid=c.rid
            and a.uid = #{uid}

            <if test="start_timestamp != null">
                and UNIX_TIMESTAMP(DATE(a.create_date)) > #{start_timestamp}
            </if>
        </where>
        ORDER BY a.start_date desc
    </select>
    <resultMap id="status_profile" type="com.meeting.appo.entities.Status">
        <result property="sid" column="sid" />
        <result property="create_date" column="create_date" />
        <result property="start_date" column="start_date" />
        <result property="end_date" column="end_date" />
        <result property="participants" column="participants" />
        <result property="meeting_theme" column="meeting_theme" />
        <result property="status" column="status" />
        <association property="room" javaType="com.meeting.appo.entities.Room">
            <result property="rserial" column="rserial"/>
        </association>
    </resultMap>


    <delete id="rmStatusById" parameterType="int">
        delete from appo.tb_status where sid=#{sid}
    </delete>


    <insert id="addStatus" parameterType="com.meeting.appo.entities.Status">
        INSERT INTO tb_status(create_date,start_date,end_date,rid,participants,meeting_theme,uid,status)
        VALUES(#{status.create_date},#{status.start_date},#{status.end_date},#{status.rid},#{status.participants},#{status.meeting_theme},#{status.uid},#{status.status})
    </insert>


    <select id="getStatusBySid" resultMap="getStatusBySid" parameterType="int" resultType="com.meeting.appo.entities.Status">
        SELECT
        a.sid,
        a.create_date create_date,
        a.start_date start_date,
        a.end_date end_date,
        a.participants participants,
        a.meeting_theme meeting_theme,
        b.username username,
        b.mobile mobile,
        b.deptId deptId,
        c.rserial rserial
        FROM
        tb_status a LEFT JOIN
        tb_users b ON a.uid=b.uid LEFT JOIN
        tb_rooms c ON a.rid=c.rid
        where a.sid=#{sid}
    </select>
    <resultMap id="getStatusBySid" type="com.meeting.appo.entities.Status">
        <result property="sid" column="sid" />
        <result property="create_date" column="create_date" />
        <result property="start_date" column="start_date" />
        <result property="end_date" column="end_date" />
        <result property="participants" column="participants" />
        <result property="meeting_theme" column="meeting_theme" />
        <association property="user" javaType="com.meeting.appo.entities.User">
            <result property="username" column="username"/>
            <result property="mobile" column="mobile"/>
            <result property="deptId" column="deptId"/>
        </association>
        <association property="room" javaType="com.meeting.appo.entities.Room">
            <result property="rserial" column="rserial"/>
        </association>
    </resultMap>


    <select id="getAllDept" resultType="com.meeting.appo.entities.Dept">
        select did,dept_name from appo.tb_depts;
    </select>

</mapper>